<%layout("/layouts/boilerplate.ejs")%>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Create New Listings</h3>
    <form action="/listings" method="post">
      <label for="title" class="form-label">Title</label>
      <input placeholder="enter the title" class="form-control" type="text" name="listing[title]" required>
      <label for="description" class="form-label">Description</label>
      <input placeholder="enter description" class="form-control" type="text" name="listing[description]" required>
      <label for="image" class="form-label">Image</label>
      <input placeholder="enter image url" class="form-control" type="text" name="listing[image]" required>
      <label for="price" class="form-label">Price</label>
      <input placeholder="enter price" class="form-control" name="listing[price]" type="number" required>
    </form>
  </div>
</div>