<%layout("/layouts/boilerplate.ejs")%>
<form action="/listing" method="post">
    <input placeholder="enter the title" name="title" type="text">
    <textarea placeholder="enter the description" name="description" rows="10" cols="15" type="text">
    </textarea>
    <input placeholder="enter the image url" name="image" type="text">
    <input placeholder="enter the price" name="price" type="number">
    <input placeholder="enter the location" name="location" type="text">
    <input placeholder="enter the country" name="country" type="text">
    <button>Add</button>
</form>